body
{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color : #aec3c4;
}
calculator
{
    border-radius: 10px;
    padding: 20px;
}
#display
{
    background-color: rgb(65, 89, 110);
    width: 90%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: right;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.buttons
{
   display:grid;
   grid-template-columns: repeat(4, 60px );
   gap:10px;
}
button
{
    height: 50px;
    font-size: 18px;
    border :none;
    border-radius: 5px;
    cursor:pointer;
}
button:hover{
    opacity: 0.8;
}

button.clear
{
    background-color:#485358;
}
button.equal
{
    grid-column: span 2;
    background-color:#485358;
}
